<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        My projects
    </title>
    <body>
        {{>header}}
        <p>Below is a link to my GitHub</p><br>
        <a href="https://github.com/TinasheKeith/">Link</a>
        {{>footer}}
    </body>
</head>
</html>